---
Language:        Cpp
BasedOnStyle:  Chromium

Standard: c++17

ColumnLimit: 120

DerivePointerAlignment: false
PointerAlignment: Left

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None

BinPackArguments: true
BinPackParameters : true

SortIncludes: Never

SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty

InsertBraces: true

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true

...
