---
Language:        Cpp
BasedOnStyle:  Chromium

Standard: Cpp11

ColumnLimit: 120

DerivePointerAlignment: false
PointerAlignment: Left

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false

BinPackArguments: true
BinPackParameters : true

SortIncludes: false

SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: false

# InsertBraces: true

...
