<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto">

  <uses-permission android:name="android.permission.BLUETOOTH"
                   android:maxSdkVersion="30"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
                   android:maxSdkVersion="30"/>

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <!-- to communicates with already-paired Bluetooth devices. -->
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <!-- to looks for Bluetooth devices -->
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <!-- required until Android 4.3 and to upgrade to scoped storage on newer -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <!-- required since Android 9 / targetSdkVersion 28 -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <!-- required to scan QRCode -->
  <uses-permission android:name="android.permission.CAMERA" />

  <!-- reason: ioio.lib.bluetooth has a targetSdkVersion < 4 -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

  <!--
  required since android 12 : https://developer.android.com/training/location/permissions#approximate-request
  If you try to request only ACCESS_FINE_LOCATION, the system ignores the request on some releases of Android 12.
  -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <!-- Tell the system this app requires OpenGL ES 2.0. -->
  <uses-feature android:glEsVersion="0x00020000" android:required="true" />

  <!-- Disable implicit requirements -->
  <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
  <uses-feature android:name="android.hardware.location" android:required="false" />
  <uses-feature android:name="android.hardware.location.network" android:required="false" />
  <uses-feature android:name="android.hardware.location.gps" android:required="false" />
  <uses-feature android:name="android.hardware.usb.accessory" android:required="false" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />

  <!-- Allow installation on faked touchscreen -->
  <uses-feature android:name="android.hardware.faketouch" android:required="false" />

  <!-- Allow to use Usb device -->
  <uses-feature android:name="android.hardware.usb.host"  android:required="false" />

  <application android:icon="@drawable/icon"
               android:label="@string/app_name"
               android:hasFragileUserData="true"
               android:networkSecurityConfig="@xml/network_security_config"
               android:requestLegacyExternalStorage="true">

    <activity android:name=".LK8000"
              android:theme="@style/SplashTheme"
              android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection"
              android:launchMode="singleInstance"
              android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
      </intent-filter>

      <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
		 android:resource="@xml/accessory_filter" />

      <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                 android:resource="@xml/usb_device_filter" />

    </activity>

    <!-- foregroundServiceType is required since Android 10 / targetSdkVersion 29 -->
    <service android:name=".MyService"
        android:foregroundServiceType="location|connectedDevice"/>

    <activity android:name=".QRCode.QRCodeScannerActivity"
        android:theme="@style/QrCodeTheme"/>

    <activity android:name=".LKMap.LKMAPActivity"
        android:theme="@style/LKMAPTheme"/>

    <provider
        android:name=".LKFileProvider"
        android:authorities="${applicationId}.file_provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_provider_paths" />
    </provider>

    <provider
        android:name=".AllFilesDocumentsProvider"
        android:authorities="${applicationId}.allfiles"
        android:exported="true"
        android:grantUriPermissions="true"
        android:permission="android.permission.MANAGE_DOCUMENTS">
      <intent-filter>
        <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
      </intent-filter>
    </provider>

  </application>

  <queries>
    <package android:name="org.lk8000.debug" />
    <package android:name="org.lk8000.beta" />
    <package android:name="org.lk8000.test" />
    <package android:name="org.lk8000.lkmap" />
  </queries>

</manifest>
