*.iml
.gradle
/local.properties
/keystore.properties
/app/sentry.properties

/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/assets/language
/app/src/main/assets/polars
/app/src/main/assets/distribution
/app/src/main/assets/sounds
/app/src/main/assets/fonts
/app/src/main/assets/DEFAULT_MENU.TXT
/app/src/main/assets/CREDITS.TXT
